<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict/>
		<key>sheetOrder</key>
		<real>496114780.22278601</real>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>85d281d6cc20df4dc7e7af190432f89571d28cace21aefd0b0d107f93945697b</key>
			<integer>2</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>85d281d6cc20df4dc7e7af190432f89571d28cace21aefd0b0d107f93945697b</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
